<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto BRAT</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="p-4 w-full h-screen">
        <a @click="new_pack()" class="py-2 px-4 bg-blue-600 hover:bg-blue-500 text-white font-bold rounded" href="#">New pack</a>
        <a @click="submit_pack()" class="py-2 px-4 bg-blue-600 hover:bg-blue-500 text-white font-bold rounded" href="#">Submit pack</a>
        <iframe v-if="currentPack" id="frame" class="mt-4 pointer-events-auto" style="width: 71%; height: 600px;" :src="currentUrl" frameborder="0"></iframe>
    </div>
</body>

<style>
    #frame {
        -ms-zoom: 1.4;
        -moz-transform: scale(1.4);
        -moz-transform-origin: 0 0;
        -o-transform: scale(1.4);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(1.4);
        -webkit-transform-origin: 0 0;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
var App = new Vue({
    el: "#app",
    data: {
        currentPack: null,
        corpus: "{{ corpus }}"
    },
    computed: {
        currentUrl() {
            return  "http://localhost:8081/#/SAT+R/autobrat/{{ corpus }}/packs/open/" + this.currentPack
        }
    },
    methods: {
        post(url) {
            fetch(url, {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post'
            })
            .then(r => r.json())
            .then(r => {
                if (r.next_pack) {
                    this.currentPack = r.next_pack;
                }
                else {
                    console.error(r);
                }
            })
            .catch(error => {
                console.error(error);
            });
        },
        new_pack() {
            this.post("/{{ corpus }}/pack/new")
        },
        submit_pack() {
            this.post("/{{ corpus }}/pack/submit?pack=" + this.currentPack)
        }
    }
})
</script>
</html>
