<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoBrat</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div id="readme" class="w-6/12 m-auto py-10">
        {{ readme }}
    </div>
</body>

<style>
    #readme h1 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    #readme p {
        margin-bottom: 1.5em;
    }
</style>
</html>
